*,
ul,
li,
a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}
            /* Інтро */

.body_intro{
    background-color: #0b3f36;
    background-image: url('assets/ifk2d7ha3kma9srr2d9qus9f57-4defff5687b358021ccf52951b469f37.png');
    background-size: cover;
    background-position-y: 230px;
    background-repeat: no-repeat;
}

.intro_text_div{
    display:flex;
    flex-direction: column;
    margin: 150px 25px 25px 25px;
    font-weight: 800;
    font-size: 25px;
}


.intro_text{
    color: #EEEEEE;
    word-wrap: break-word;
}

.start_btn{
    width: 250px;
    height: 50px;
    border-radius: 35px;
    font-size: 20px;
    color: #0b3f36;
    font-weight: 600;
    background: #eeeeee;
    text-align: center;
}

            /* Головна */

body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #EEEEEE;
}

.nav_bar {
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    position: fixed;
    margin-bottom: 20px;
    box-shadow: 25px 10px 10px rgb(199, 199, 199);
    border-radius: 15px;
    background: rgb(255, 255, 255);
    z-index: 999;
    
}

.nav_list {
    position: relative;
    display: flex;
    justify-items: center;
    justify-content: space-around;
    padding: 5px;
}


.home_btn {
    font-size: 25px;
    color: #0b3f36;
}

.flower_btn {
    font-size: 25px;
    color: #0b3f36;
}

.search_btn {
    font-size: 25px;
    color: #0b3f36;
}

.text_div_main {
    display: flex;
    justify-content: baseline;
}

.plants_text{
    text-align: center;
    margin: 150px 0px 50px 0px;
}

.plants_container{
    display: flex;
    margin: 15px 15px 15px 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;

}

.plants{
    margin-bottom: 150px;
}

.plants_items {
    margin: 15px 15px 15px 15px;
    border-radius: 30px;
    padding: 10px;
}


.plants_items > a{
    text-decoration: none;
}

.plants_items a > h1 {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color:#0b3f36;
}

.plants_pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    aspect-ratio: 2/2;
    object-fit: contain;
    border-radius: 30px;
}

.container{
    margin: auto;
    padding: 15px;
    width: 300px;
    margin-bottom: 150px;
}

.kvitkovi_text{
    font-size: 15px;
}

.container_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards{
    margin: 20px;
}


.cards > a > p{
    text-align: center;
    color:#0b3f36;
    margin-top: 25px;
    text-decoration: none;
}


.img_cards{
    display: block;
    width: 80px;
    margin:auto;
    box-shadow: 5px 5px 10px rgb(199, 199, 199);
    aspect-ratio: 2/2;
    object-fit: contain;
    border-radius: 10px;
}

.a_dec{
    text-decoration: none;
    color:#0b3f36;
    margin-top: 15px;
    text-align: center;
}

.flwr_info > img {
    width: 300px;
    margin-top: 30px;
}



.flwr_info > h1{
    font-size: 15px;
    padding: 5px;
    border: 2px #0b3f36 solid;
    margin-top: 30px;
    text-align: center;
}

.flwr_info > h2 {
    font-size: 15px;
    padding: 5px;
    border: 2px #0b3f36 solid;
    margin-top: 30px;
}

.btn_back{
    border-radius: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: auto;
    display: block;
    
}

.wrong{
    display: none;
}

@media screen and (min-width: 512px) {
    .wrong{
        display: block;
        color: white;
    }
    .intro_text{
        display: none;
    }
}